/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
HTML5 display definitions
========================================================================== */
/*
* Corrects block display not defined in IE6/7/8/9 & FF3
*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{
	display: block
}
nav ul, nav ol{
	list-style: none;
	list-style-image: none;
}

/*
* Corrects inline-block display not defined in IE6/7/8/9 & FF3
*/
audio, canvas, video{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]){
	display: none
}

/*
* Prevents modern browsers from displaying 'audio' without controls
*/
/*
* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
* Known issue: no IE6 support
*/
[hidden]{
	display: none
}

/* =============================================================================
Base
========================================================================== */
/*
* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
* http://clagnut.com/blog/348/#c790
* 2. Keeps page centred in all browsers regardless of content height
* 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
*/
html{
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* 1 */
	/* 2 */
	/* 3 */
	/* 3 */
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	overflow-y: scroll;
}

/*
* Addresses margins handled incorrectly in IE6/7
*/
body{
	margin: 0
}

/*
* Addresses font-family inconsistency between 'textarea' and other form elements.
*/
body, button, input, select, textarea{
	font-family: sans-serif
}
button::-moz-focus-inner, input::-moz-focus-inner{
	padding: 0;
	border: 0
}

/* =============================================================================
Links
========================================================================== */
/*
* Addresses outline displayed oddly in Chrome
*/
a:focus{
	outline: thin dotted
}

/*
* Improves readability when focused and also mouse hovered in all browsers
* people.opera.com/patrickl/experiments/keyboard/test
*/
a:hover, a:active{
	outline: 0
}

/* =============================================================================
Typography
========================================================================== */
/*
* Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
*/
h1{
	font-size: 2em
}

/*
* Addresses styling not present in IE7/8/9, S5, Chrome
*/
abbr[title]{
	border-bottom: 1px dotted
}

/*
* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong{
	font-weight: bold
}
blockquote{
	margin: 1em 40px
}

/*
* Addresses styling not present in S5, Chrome
*/
dfn{
	font-style: italic
}

/*
* Addresses styling not present in IE6/7/8/9
*/
mark{
	color: #000;
	background: #ff0
}

/*
* Corrects font family set oddly in IE6, S4/5, Chrome
* en.wikipedia.org/wiki/User:Davidgothberg/Test59
*/
pre, code, kbd, samp{
	font-size: 1em;
	_font-family: 'courier new', monospace;
	font-family: monospace, serif;
}

/*
* Improves readability of pre-formatted text in all browsers
*/
pre{
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/*
* 1. Addresses CSS quotes not supported in IE6/7
* 2. Addresses quote property not supported in S4
*/
/* 1 */
q{
	quotes: none
}
q:before, q:after{
	content: '';
	content: none;
}

/* 2 */
small{
	font-size: 75%
}

/*
* Prevents sub and sup affecting line-height in all browsers
* gist.github.com/413930
*/
sub, sup{
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup{
	top: -0.5em
}
sub{
	bottom: -0.25em
}

/* =============================================================================
Lists
========================================================================== */
ul, ol{
	margin-left: 0;
	padding: 0 0 0 40px
}
dd{
	margin: 0 0 0 40px
}

/* =============================================================================
Embedded content
========================================================================== */
/*
* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
* 2. Improves image quality when scaled in IE7
* code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/
img{
	-ms-interpolation-mode: bicubic;
	/* 1 */
	/* 2 */
	border: 0;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
}

/*
* Corrects overflow displayed oddly in IE9
*/
svg:not(:root){
	overflow: hidden
}

/* =============================================================================
Figures
========================================================================== */
/*
* Addresses margin not present in IE6/7/8/9, S5, O11
*/
figure{
	margin: 0
}

/* =============================================================================
Forms
========================================================================== */
/*
* Corrects margin displayed oddly in IE6/7
*/
form{
	margin: 0
}

/*
* Define consistent border, margin, and padding
*/
fieldset{
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
	border: 1px solid #c0c0c0
}

/*
* 1. Corrects color not being inherited in IE6/7/8/9
* 2. Corrects alignment displayed oddly in IE6/7
*/
legend{
	*margin-left: -7px;
	/* 1 */
	/* 2 */
	border: 0;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
}

/*
* 1. Corrects font size not being inherited in all browsers
* 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
* 3. Improves appearance and consistency in all browsers
*/
button, input, select, textarea{
	margin: 0;
	font-size: 100%;
	*vertical-align: middle;
	/* 1 */
	/* 2 */
	/* 3 */
	/* 3 */
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	vertical-align: baseline;
}

/*
* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
*/
button, input{
	/* 1 */
	line-height: normal;
	nowhitespace: afterproperty;
}

/*
* 1. Improves usability and consistency of cursor style between image-type 'input' and others
* 2. Corrects inability to style clickable 'input' types in iOS
* 3. Removes inner spacing in IE7 without affecting normal text inputs
* Known issue: inner spacing remains in IE6
*/
button, input[type="button"], input[type="reset"], input[type="submit"]{
	*overflow: visible;
	-webkit-appearance: button;
	/* 1 */
	/* 2 */
	/* 3 */
	cursor: pointer;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
}

/*
* 1. Addresses box sizing set to content-box in IE8/9
* 2. Removes excess padding in IE8/9
*/
input[type="checkbox"], input[type="radio"]{
	padding: 0;
	/* 1 */
	/* 2 */
	box-sizing: border-box;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
}

/*
* 1. Addresses appearance set to searchfield in S5, Chrome
* 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
*/
input[type="search"]{
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	/* 1 */
	/* 2 */
	box-sizing: content-box;
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
}
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none
}

/*
* Removes inner padding that is displayed in S5, Chrome on OS X
*/
/*
* Removes inner padding and border in FF3+
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/
/*
* 1. Removes default vertical scrollbar in IE6/7/8/9
* 2. Improves readability and alignment in all browsers
*/
textarea{
	/* 1 */
	/* 2 */
	nowhitespace: afterproperty;
	nowhitespace: afterproperty;
	overflow: auto;
	vertical-align: top;
}

/* =============================================================================
Tables
========================================================================== */
/*
* Remove most spacing between table cells
*/
table{
	border-collapse: collapse;
	border-spacing: 0;
}

@charset "utf-8";

html,body,div,dl,dt,dd,pre,code,form,fieldset,legend,th,td{
	margin:0;
	padding:0;
}
html, body{
	border:0px;
	width:100%;
	height:100%;
	min-height:100%;
	font:12px/100% Arial, Helvetica, sans-serif;
	text-align:justify;
	letter-spacing: 0.025em;
	background-color:#f8f8f8;
}
table{
	width:100%;
}
a{
	color:#555;
	text-decoration:none;
	font-weight:bold;
}
li{
	padding:2px;
	list-style:circle;
}
hr{
	border:1px solid #f3f3f3;
	height:1px;
	width:100%;
}
#conteudo {
	position:relative;
	width: 800px;
	height: 100%;
	min-height:100%;
	position:relative;
	margin: 0 auto;
	border-left: 0px solid #D8D8D8;
	border-right: 0px solid #D8D8D8;
	background-color:#FFFFFF;
}
.internDiv {
	position:relative;
	background-color:#fff;
	width:100%;
	min-height:100%;
	-webkit-box-shadow: 0 1px 15px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 15px rgba(0,0,0,.2);
	box-shadow: 0 1px 15px rgba(0,0,0,.2);
}
.header{
	width:100%;
	height:auto;
}
#topSiteBar{
	background: rgb(0,183,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjdlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDllYzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-8 */
	width:100%;
	min-height:34px;
	height:60px;
}
.topBarContend{
	margin:0 auto;
	padding:0px;
	width:100%;
}
.fraseButton{
	float:left;
	color:#fff;
	margin-right:5px;
	font-weight:bold;
	cursor:pointer;
	padding:10px;
	height:auto;
	text-shadow:0 1px 1px rgba(255,255,255,.3);
}
.fraseButton:hover{
	background: rgb(135,224,253); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3ZTBmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzUzY2JmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNWFiZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+');
	background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-8 */
}
.title {
	color:#fff;
	margin-left:5px;
	font-weight:bold;
	font-size:25px;
	padding:9px;
	height:auto;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
}
.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:80px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d9d9d9));
	background: -moz-linear-gradient(top, #f5f5f5, #d9d9d9);
	background: -o-linear-gradient(top, #f5f5f5, #d9d9d9);
	background-color: #d9d9d9;
	border-top: thin solid #d9d9d9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#d9d9d9');
}

.conteudo-parent {
	padding:5px;
	width:100%;
	min-height:100%;
}
#conteudo-interno {
	width:100%;
	min-height:100%;
	padding:8px;
}

.homeScreenLoad{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background-color: #f8f8f8;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	opacity: 0.65;
}
.homeScreenLoad div{
	position: absolute;
	left: 48%;
	top: 45%;
	height: 16px;
	width: 16px;
	background-image: url('/static/img/loading.gif?d89d14ea768d');
	background-repeat: no-repeat;
}

.formated {
	width:300px;
	height:auto;
	border:1px solid #c8c8c8;
}
.formated td {
	padding:7px;
	border:1px solid #ccc;
}
.tableTitle {
	color:#fff;
	font-weight:bold;
	font-size:15px;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
	text-align:center;
	background-color:#666;
}

.tableTime {
	width:auto;
	min-width:400px;
	height:auto;
	margin:0 auto;
	border:1px solid #ccc;
}
.tableTime td {
	padding:9px;
	vertical-align:middle;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.infoJogo {
	background-color:#f2f2f2;
	text-shadow:0 1px 1px rgba(128,128,128,.6);
	border-bottom:1px dotted #999;
}

button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 3px 0 4px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 80px; }
 button.cupid-green:hover {
   background-color: #76b347;
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
   background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
   background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
   background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
   background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
   background-image: linear-gradient(top, #76b347, #5e9e2e);
   -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
   -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
   box-shadow: inset 0 1px 0 0 #8dbf67;
   cursor: pointer; }
 button.cupid-green:active {
   border: 1px solid #5b992b;
   border-bottom: 1px solid #538c27;
   -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
   -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
   box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
.GrupoDivPrincipal {
    width: 100%;
    display: inline-block;
    font: 15px/100% Arial;
    color: #333;
    text-shadow: 0 1px 1px rgba(7,7,7,.4);
}
.jWindowModal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999;
    display: none;
    overflow: hidden;
}
.jWindowContent {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -100px;
    width: 450px;
    height: 250px;
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-left: 15px;
    -webkit-box-shadow: 0 1px 10px rgba(9,9,9,.5);
    -moz-box-shadow: 0 1px 10px rgba(9,9,9,.5);
    box-shadow: 0 1px 10px rgba(9,9,9,.5);
    border: thin solid #e3e3e3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 9999999999;
    display: none;
}
.loadingDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -20px;
    width: 650px;
    height: 100px;
    text-align: center;
    font: 12px/100% Arial;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#jWindowContentDiv {
    width: 610px;
    height: 390px;
    overflow: hidden;
}
#jWindowContentClose {
    position: absolute;
    top: 10px;
    right: 10px;
}
.iconBtn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 11px/100% Arial, Helvetica, sans-serif;
    padding: 2px 4px 2px 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-weight: bold;
}
.iconBtn img {
    width: 17px;
    height: 17px;
}
.rounded-border {
    -webkit-border-radius: .3em .3em .3em .3em;
    -moz-border-radius: .3em .3em .3em .3em;
    border-radius: .3em .3em .3em .3em;
}
/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6881F), to(#EF4623));
    background: -moz-linear-gradient(top, #F6881F, #EF4623);
    background: -o-linear-gradient(top, #F6881F, #EF4623);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F6881F', endColorstr='#EF4623');
}
.orange: hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    background: -o-linear-gradient(top, #f88e11, #f06015);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange: active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    background: -o-linear-gradient(top, #f47a20, #faa51a);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* red */
.red {
    color: #faddde;
    border: solid 1px #d81b21;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);
    background: -o-linear-gradient(top, #ed1c24, #aa1317);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red: hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    background: -o-linear-gradient(top, #c9151b, #a11115);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red: active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    background: -o-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

.font {
    text-decoration: none;
    font: 12px/100% Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    width: 556px;
}
.font li {
    color: #555;
    cursor: pointer;
    padding: 4px 5px 5px 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.font li: hover {
    color: #fff;
    background-color: #f47a20;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    background: -o-linear-gradient(top, #faa51a, #f47a20);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
    font-weight: bold;
    -webkit-border-radius: .3em .3em .3em .3em;
    -moz-border-radius: .3em .3em .3em .3em;
    border-radius: .3em .3em .3em .3em;
}
.statusFont {
    font: 10px/100% Arial, Helvetica, sans-serif;
    margin-left: 1px;
    margin-top: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.AppGrupoDiv {
    float: left;
    width: 44.5%;
    position: relative;
    border: 1px solid #d5d5d5;
    height: 88px;
    padding: 5px;
    margin: 5px;
    background: #f2f2f2;
}
.AppGrupoDiv: hover {
    background-color: #F5F9FC;
    cursor: pointer;
}
.divAppsTitulo {
    float: left;
    width: 130px;
    height: 60px;
}
.divAppListaSimples {
    font: 12px/100% Arial;
    color: #999;
    text-shadow: 0 1px 1px rgba(5,5,5,.5);
    width: 550px;
    display: inline-block;
}
.imgClose {
	width: 18px;
	height: 18px;
	background-image: url('/static/js/jWindow/rem.png?d89d14ea768d');
	background-size: 18px 18px;
	background-color: transparent;
	background-repeat: no-repeat;
}